<div class="container mb-5">
  <div class="title">Weather Forecast<div class="close">X</div>
  </div>
  <div class="container-body">
    <div class="subtitle">
      <h2>City</h2>
    </div>
    <div class="btn-group mb-2 w-100">
      <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false">
        {{selectedCity}}
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item" *ngFor="let city of cityList" (click)="showForCast(city.coordinates,city.name)">
          {{city.name}}</li>
      </ul>
    </div>

    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col" *ngFor="let forecast of forecasts | slice:0:5;
      let i = index">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="date">{{forecast.dt | date:'fullDate'}}</h5>
            <img src={{forecast.icon}} class="card-img-top" alt="...">
          </div>
          <div class="current-temp" *ngIf="i>0">{{forecast.avgTemp}}°C</div>
          <div class="current-temp" *ngIf="i===0">{{currentTemp}}°C</div>
        </div>
      </div>
    </div>
    <div class="action"> <button type="button" class="btn btn-primary"> Apply </button> </div>
  </div>
</div>